{% extends "layout.html" %}
{% block content %}

{% if clients %}
<table class="table table-bordered table-hover table-condensed table-responsive">
    <thead>
    <th>#</th>
    <th>Name</th>
    <th>Email</th>
    <th>Update</th>
    <!-- <th>Delete</th> -->
    </thead>
    {% for forne in clients %}
    <tbody>
    <td>{{ forne.getID().decode('latin-1').encode("utf-8") }}</td>
    <td>{{ forne.getNome().decode('latin-1').encode("utf-8") }}</td>
    <td>{{ forne.getCNPJ().decode('latin-1').encode("utf-8") }}</td>
    <td><a href="/read/{{forne.getID().decode('latin-1').encode("utf-8")}}"><button type="button" name="button" class="btn btn-primary">Edit</button></a></td>
    <!-- <td><a href="#"><button type="button" name="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">Delete</button></a></td> -->
    </tbody>
    {% endfor %}
</table>
      {% else %}
<h2 class="alert alert-info">você ainda não tem fornecedores</h2>
      {% endif %}
{% endblock %}
